.advantages.box
  .advantages__container.box__container
    .advantages__list 
      .advantage
        .advantage__title Without swaps or comissions
        svg.advantage__icon
          use(xlink:href='#icon-circle-moving') 
      .advantage
        .advantage__title Indicies, precious metals, crude oil
        svg.advantage__icon
          use(xlink:href='#icon-exchange') 
      .advantage
        .advantage__title Earn 25% more
        svg.advantage__icon
          use(xlink:href='#icon-candlesticks') 