section.products.box
  .products__container.box__container
    .product.product_mt4
      .product__title Metatrader 4 for Desktop
      img(src='img/product_mt4.png').product__img
    .product.product_mt5
      .product__title Metatrader 5 for Desktop
      img(src='img/product_mt5.png').product__img
    .product.product_android
      .product__title Metatrader for Bea Bea Bea
      img(src='img/product_android.png').product__img