section.win.box
  .win__container.box__container
    .win__wafer
      .win__header
        .win__title Trade with us and win a BMW and more
        .win__description Use your trading skills and become super puper mega juice trader. Get your BMW and show your dudes who is the biggest baby in da city.
      a(href="#").win__btn.btn Download MT4 for iOS