aside.mobile-menu#js-mobile-menu
  .mobile-menu__container
    .mobile-menu__header
      .mobile-menu__close-btn
        span
        span
    nav.mobile-menu__main
      a(href="#").mobile-menu__link metatrader 4
      a(href="#").mobile-menu__link metatrader 5
      a(href="#").mobile-menu__link ctrader