//colors general
$color-white: #fff;
$color-black: #000;
$color-bg: #4c9e8b;

//color-special
$color-decor: #d8d8d8;
$footer-text: #888888;
$button-green-color: #02A356;
$button-blue-color: #0d6ffb;

$color-footer-dark: #090D11;

//@media
$mobile: 420px;
$bg-mobile: 560px;
$tablet: 768px;
$bg-tablet: 960px;
$sm-desktop: 1024px;
$desktop: 1280px;
$xl-desktop: 1440px;
$xxl-desktop: 1650px;
$biggest-desktop: 1920px;

//path
$imgPath: '../img/';

//font-weight
$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
